:root {
	--primal--dark--700: #262A3F;
	--primal--dark--500: #515773;
	--primal--dark--300: #689FF2;
	
	--primal--green--700: #F1897B;
	--primal--green--500: #85BBB1;
	--primal--green--400: #53F3CD;

	--primal--red--700: #E54F3A;
	--primal--red--500: #F1897B;

	--primal--white--500: #ffffff;

	--primal--grey--500: #e4e4e4;
}