
.name-movie {
	padding: 10px 5px;
	font-size: 15px;
	background-color: aqua;
	font-weight: 600;
	margin-right: 30px;
}
.button {
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	font-weight: 600;
	background-color: black;
	color: white;
}
.block-check {
	margin-top: 15px;
}
.label {
	font-size: 20px;
	font-weight: 600;
}
.title_film-name {
	display: block;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 30px;
}
.input {
	margin-right: 10px;
	font-size: 30px;
	font-weight: 600;
}