/* body {
	text-align: center;
}
.active {
	position: absolute;
	left: -1000px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #ccc;
	padding: 8px;
	font-size: 30px;
}

th {
	background-color: #f2f2f2;
} */