@import "../css/normalaiz.css";
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 144%;
  opacity: 0.8;
  color: var(--primal--dark--700);
}

.link-btn {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--primal--red--500);
}

.span__green {
  color: var(--primal--green--500);
}

.foot-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: var(--primal--dark--700);
}

.foot-description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: var(--primal--dark--700);
}

:root {
  --primal--dark--900: #161926;
  --primal--dark--700: #262A3F;
  --primal--dark--500: #515773;
  --primal--dark--300: #689FF2;
  --primal--green--700: #F1897B;
  --primal--green--500: #85BBB1;
  --primal--green--400: #53F3CD;
  --primal--red--700: #E54F3A;
  --primal--red--500: #F1897B;
  --primal--white--500: #ffffff;
  --primal--grey--500: #e4e4e4;
}

.header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1440px;
}
.header__main-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  height: 1028.25px;
  background: url(../image/white/first-screen-image.jpg) 0% 0%/100% 100% no-repeat;
}
.header__main-gradient {
  position: absolute;
  z-index: -9;
  width: 1439.44px;
  height: 825.75px;
  left: 0px;
  top: 496.12px;
  background: linear-gradient(183.11deg, rgba(255, 255, 255, 0) 46.73%, #FFFFFF 63.21%);
}
.header__opacity {
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), color-stop(24.1%, rgba(255, 255, 255, 0.244636)), color-stop(47.19%, rgba(255, 255, 255, 0))), rgba(255, 255, 255, 0.02);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}
.header__block {
  margin: 30px 0 150px;
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.header__switch {
  margin: 0 15px;
}
@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.08em;
  color: var(--primal--dark--700);
  position: relative;
}
.header__link:hover {
  color: var(--primal--green--700);
}
.header__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.header__link::after {
  content: " ";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: var(--primal--green--700);
  opacity: 0.3;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

#switchMode {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--primal--dark--700);
  background-color: var(--primal--white--700);
}

.navigation-mobile {
  display: none;
  min-width: 170px;
  padding: 15px;
  position: absolute;
  z-index: 2;
  right: 0;
  top: calc(100% + 30px);
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.8)), color-stop(24.1%, rgba(255, 255, 255, 0.5)), color-stop(47.19%, rgba(255, 255, 255, 0.8))), rgba(255, 255, 255, 0.02);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 24.1%, rgba(255, 255, 255, 0.8) 47.19%), rgba(255, 255, 255, 0.02);
}
.navigation-mobile .navigation__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.navigation-mobile .navigation__list-item-link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 171%;
  letter-spacing: 0.08em;
  color: var(--primal--dark--700);
}

.is-active ~ .navigation-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .hide-desktop {
    display: none;
  }
}

.burger-control {
  display: none;
  position: relative;
}
@media screen and (max-width: 768px) {
  .burger-control {
    display: block;
  }
}
.burger-control .hamburger {
  padding: 0;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger--squeeze .hamburger-inner:before {
  -webkit-transition: top 75ms ease 0.12s, opacity 75ms ease;
  transition: top 75ms ease 0.12s, opacity 75ms ease;
}

.hamburger-inner:before {
  top: -10px;
}

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: "";
}

.hamburger--squeeze .hamburger-inner:after {
  -webkit-transition: bottom 75ms ease 0.12s, -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner:after {
  bottom: -10px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border-radius: 4px;
  background-color: #2F281E;
}

.hamburger--squeeze .hamburger-inner {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition-duration: 75ms;
          transition-duration: 75ms;
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger--squeeze.is-active .hamburger-inner:before {
  top: 0;
  -webkit-transition: top 75ms ease, opacity 75ms ease 0.12s;
  transition: top 75ms ease, opacity 75ms ease 0.12s;
  opacity: 0;
}

.hamburger--squeeze.is-active .hamburger-inner:after {
  bottom: 0;
  -webkit-transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.first-screen {
  margin-bottom: 150px;
}
.first-screen__content {
  width: 100%;
  max-width: 523px;
}
.first-screen__title {
  margin-bottom: 20px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 118%;
  color: var(--primal--dark--700);
}
.first-screen__text {
  margin-bottom: 50px;
  color: var(--primal--dark--700);
}
.first-screen__link {
  position: relative;
}
.first-screen__link:hover {
  color: var(--primal--red--700);
}
.first-screen__link:hover::after {
  background-color: var(--primal--red--700);
}
.first-screen__link::after {
  content: " ";
  position: absolute;
  bottom: -3px;
  left: 10px;
  right: 0;
  width: 100%;
  height: 13px;
  background-color: var(--primal--red--500);
  opacity: 0.3;
}

.info {
  margin: 50px 0;
  position: relative;
  height: 100%;
}
.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info__image {
  position: relative;
  z-index: -1;
  width: 100%;
  max-width: 600px;
  width: 100%;
  max-width: 570px;
}
.info__content {
  padding: 45px 0;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 770px;
  margin-left: -200px;
  background: #FFFFFF;
  opacity: 0.9;
}
.info__item {
  padding: 0 40px;
  width: 100%;
  max-height: 100%;
  max-width: 370px;
  text-align: center;
  position: relative;
}
.info__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 106%;
  text-align: center;
  color: var(--primal--dark--700);
  margin-bottom: 12px;
}
.info__text {
  margin-bottom: 40px;
}
.info__item-line::after {
  content: " ";
  position: absolute;
  height: 1px;
  width: 100px;
  right: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  bottom: -20px;
  background-color: var(--primal--green--500);
}
.info__dollar {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  color: var(--primal--grey--500);
  margin-right: 10px;
}
.info__items-text {
  width: 100%;
  max-width: 400px;
}
.info__description {
  padding-bottom: 40px;
}
.info__link {
  position: relative;
  margin-top: 30px;
}
.info__link:hover {
  color: var(--primal--red--700);
}
.info__link:hover::after {
  background-color: var(--primal--red--700);
}
.info__link::after {
  content: " ";
  position: absolute;
  bottom: -3px;
  left: 10px;
  right: 0;
  width: 100%;
  height: 13px;
  background-color: var(--primal--red--500);
  opacity: 0.3;
}

.benefit {
  margin: 150px 0 120px 0;
  padding-top: 30px;
}
.benefit__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px 30px;
  width: 100%;
}
.benefit__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid var(--primal--grey--500);
  padding: 20px 30px;
}
.benefit__title {
  margin-bottom: 30px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: var(--primal--dark--700);
}

.quote {
  margin-bottom: 120px;
}
.quote__background {
  background-image: url(../image/white/quote-background.jpg);
  padding: 100px 300px 100px 130px;
}
.quote__content {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 770px;
}
.quote__icon {
  position: absolute;
  width: 100%;
  top: -15%;
  left: -9%;
}
.quote__title {
  width: 100%;
  max-width: 710px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 144%;
  letter-spacing: 0.04em;
  color: var(--primal--white--500);
  margin-bottom: 40px;
}
.quote__text {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.08em;
  color: var(--primal--white--500);
}

.video {
  margin-bottom: 120px;
}
.video__block {
  padding: 0 100px;
}
.video__content {
  position: relative;
  border: 1px solid var(--primal--grey--500);
  border-radius: 20px;
}
.video__circle {
  position: absolute;
  top: 49%;
  left: 1%;
  width: 13px;
  height: 13px;
  border: 1px solid var(--primal--grey--500);
  border-radius: 32px;
}
.video__circle-big {
  width: 35px;
  height: 35px;
  border: 1px solid var(--primal--grey--500);
  border-radius: 32px;
  position: absolute;
  top: 47%;
  right: 1%;
}
.video__screen {
  position: relative;
  margin: 31px 70px 31px 30px;
}
.video__image {
  width: 100%;
  height: 100%;
  border: 1px solid var(--primal--grey--500);
  border-radius: 20px;
}
.video__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.video__description {
  margin-top: 50px;
}
.video__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: var(--primal--dark--700);
  margin-bottom: 29px;
  max-width: 897px;
}
.video__text {
  max-width: 897px;
}

.promises {
  margin-bottom: 120px;
}
.promises__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.promises__image {
  position: relative;
  z-index: -1;
}
.promises__card {
  margin-left: -200px;
  padding: 75px 0 75px 70px;
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 100px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px 100px;
  background-color: var(--primal--white--500);
  opacity: 0.9;
}
.promises__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 200%;
  color: var(--primal--dark--700);
}
.promises__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--primal--grey--500);
  padding: 37px 89px 33px 89px;
  width: 100%;
  height: 100%;
  max-width: 300px;
}
.promises__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  position: relative;
}
.promises__button:hover {
  border: 1px solid var(--primal--red--700);
}
.promises__button:hover .promises__link {
  color: var(--primal--red--700);
}
.promises__link:hover::after {
  background-color: var(--primal--red--700);
}
.promises__link::after {
  content: " ";
  position: absolute;
  bottom: -3px;
  left: 10px;
  right: 0;
  width: 100%;
  height: 13px;
  background-color: var(--primal--red--500);
  opacity: 0.3;
}

.revues {
  margin: 120px 0;
}
.revues__content {
  margin-bottom: 50px;
  max-width: 400px;
}
.revues__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: var(--primal--dark--700);
  margin-bottom: 20px;
}
.revues__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.revues__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 370px;
  padding: 30px;
}
.revues__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--primal--white--500);
  opacity: 0.8;
}
.revues__author {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 100px;
  letter-spacing: 0.08em;
  color: var(--primal--white--500);
}
.revues__card-first {
  background-color: rgba(25, 28, 41, 0.6);
}
.revues__card-second {
  background-color: rgba(25, 28, 41, 0.6);
}
.revues__card-third {
  background-color: rgba(25, 28, 41, 0.6);
}
.revues__card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contacts {
  margin: 120px 0 100px 0;
}
.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 230px;
}
.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 29px;
}
.contacts__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 98%;
  color: var(--primal--dark--700);
}
.contacts__text {
  max-width: 470px;
}
.contacts__data {
  width: 100%;
  max-width: 470px;
}
.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.contacts__request {
  position: relative;
}
.contacts__input {
  width: 100%;
  height: 32px;
  padding-left: 5px;
  border-bottom: 1px solid rgba(38, 42, 63, 0.1);
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: 0.08em;
  color: var(--primal--dark--700);
}
.contacts__label {
  position: absolute;
  left: 3px;
  bottom: 12px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: 0.08em;
  color: var(--primal--dark--700);
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.contacts__input:focus {
  outline: none;
}
.contacts__input:focus ~ .contacts__label {
  left: 3px;
  bottom: 32px;
  opacity: 0.3;
}
.contacts__input:valid ~ .contacts__label {
  left: 3px;
  bottom: 32px;
  opacity: 0.3;
}
.contacts__link {
  background-color: var(--primal--white--500);
  width: 180px;
  position: relative;
}
.contacts__button:hover .contacts__link {
  color: var(--primal--red--700);
}
.contacts__link:hover::after {
  background-color: var(--primal--red--700);
}
.contacts__link::after {
  content: " ";
  position: absolute;
  bottom: -3px;
  left: 10px;
  right: 0;
  width: 100%;
  height: 13px;
  background-color: var(--primal--red--500);
  opacity: 0.3;
}

.footer__block {
  padding: 31px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid var(--primal--grey--500);
}
.footer__solisgroup {
  opacity: 0.6;
  margin-right: 20px;
}
.footer__made {
  opacity: 0.6;
}
.footer__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media screen and (max-width: 1100px) {
  .promises__card {
    margin-left: -400px;
  }
}
@media screen and (max-width: 870px) {
  .info__block {
    position: relative;
    margin: 0 auto;
  }
  .info__image {
    position: absolute;
  }
  .info__content {
    margin: 0;
  }
  .info__item {
    padding: 0 10px;
  }
  .quote__background {
    padding: 50px;
  }
  .quote__icon {
    top: -13%;
    left: -5%;
  }
  .video__block {
    padding: 50px;
  }
  .video__circle-big {
    top: 46%;
  }
  .video__screen {
    margin: 21px 50px 21px 20px;
  }
  .video__logo-circle {
    width: 100%;
    max-width: 80px;
    max-height: 80px;
  }
  .promises__image {
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: 0;
    z-index: -1;
  }
  .promises__card {
    margin: 0;
  }
  .revues__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .header__main-background {
    opacity: 0.5;
  }
  .header__block {
    margin: 30px 0 80px;
  }
  .first-screen {
    margin-bottom: 150px;
  }
  .first-screen__text {
    font-size: 23px;
    font-weight: normal;
  }
  .link-btn {
    font-size: 30px;
  }
  .info__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    bottom: -50px;
  }
  .info__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info__item {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .info__title {
    font-size: 43px;
  }
  .info__item-lines::after {
    content: " ";
    position: absolute;
    height: 1px;
    width: 100px;
    right: 50%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    bottom: -20px;
    background-color: var(--primal--green--500);
  }
  .info__text {
    margin-bottom: 10px;
  }
  .info__items-text {
    margin-top: 30px;
    text-align: center;
    max-width: 100%;
  }
  .benefit {
    margin: 80px 0 50px;
    padding: 30px 0;
  }
  .benefit__block {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .benefit__card {
    text-align: center;
  }
  .quote__background {
    padding: 50px;
  }
  .video__block {
    padding: 0;
  }
  .video__circle-big {
    width: 25px;
    height: 25px;
  }
  .video__screen {
    margin: 21px 40px 21px 20px;
  }
  .video__logo-circle {
    width: 100%;
    max-width: 60px;
    max-height: 60px;
  }
  .promises__card {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 0;
    text-align: center;
    opacity: 0.8;
  }
  .promises__button {
    margin: 0 auto;
    padding: 37px 89px 33px 89px;
  }
  .promises__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
  }
  .revues {
    text-align: center;
  }
  .revues__content {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .revues__card {
    max-width: 600px;
  }
  .revues__description {
    font-size: 24px;
  }
  .contacts {
    text-align: center;
  }
  .contacts__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
  }
  .contacts__form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts__link {
    width: 100%;
    max-width: 300px;
  }
  .footer {
    text-align: center;
  }
  .footer__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 425px) {
  .info__title {
    font-size: 33px;
  }
  .benefit {
    margin: 60px 0 50px;
  }
  .benefit__block {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .benefit__card {
    padding: 10px 10px;
  }
  .quote {
    text-align: center;
  }
  .quote__icon {
    display: none;
  }
  .footer {
    text-align: center;
  }
  .footer__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 360px) {
  .header__main-background {
    opacity: 0.3;
  }
  .header__block {
    margin: 30px 0 40px;
  }
  .navigation-mobile {
    width: 100%;
    min-width: 320px;
    padding: 10px;
  }
  .first-screen {
    text-align: center;
  }
  .link-btn {
    font-size: 40px;
  }
  .info__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__item {
    margin-top: 20px;
  }
  .info__title {
    font-size: 38px;
  }
  .quote {
    text-align: center;
  }
  .quote__icon {
    display: none;
  }
}