.wrapper {
  min-height: 100%;
  overflow: hidden; /* Щоб не зявлявся горизонтальний скрол*/
}

.container {
  max-width: 1250px;
  margin: 0 auto; 
  padding: 0 15px;
}

.title {
  font-family: 'Delius Unicase';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
}

.block {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(3, 370px);
  gap: 30px;
}

.block__photo {
  opacity: 0.5;
}

.block__photo:hover {
  opacity: 1;
}

