.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.container {
	max-width: 1170px;
	margin: 0 auto; 
	padding: 0 15px;
	box-sizing: border-box;
}

.title {
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size: 23px;
	line-height: 166%;
	letter-spacing: 0.1em;
	color: #000000;
	@media screen and (max-width: 320px) {
		font-size: 22px;
	}
}

.text {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 166%;
	letter-spacing: 0.05em;
	color: #565656;
	@media screen and (max-width: 768px) {
		font-size: 16px;
	}
}